.hidden {
    display: none;
  }
  
  .flashcard {
    border: 1px solid #23a8e6;
    padding: 10px;
    margin: 10px;
    background-color: #107688;
  }
  
  .flashcard button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .flashcard p {
    font-size: 16px;
  }
  
  #addFlashcard {
    padding: 5px 10px;
    margin-top: 20px;
    cursor: pointer;
  }
  