body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  #flashcard-container {
    margin-top: 50px;
  }
  
  .flashcard {
    width: 300px;
    height: 200px;
    background-color: #459123;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #549654;
    border-radius: 10px;
  }
  
  .card-content {
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  
  button {
    margin: 10px;
    padding: 10px;
    background-color: #37681b;
    color: rgb(13, 58, 182);
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #455aa0;
  }
  